{% extends "layout.html" %}

{% block app_content %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='search_template.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='favorite_button.css') }}">
    </head>

    <br>
    <br>
    <div style="text-align:center">
        <img src="{{ url_for('static', filename='logo_sun.PNG') }}" alt="logo">
        <br>
        <br>
        <br>
        <br>

        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <p>
                {% for error in form.airport_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.airport_name(size=20) }}
            </p>
        </form>

        <br>

        {% if favorite_apts is not none and favorite_apts|count > 0 %}
            {% if recent_apts is not none %}
                <div class="columns">
                    <div class="col-2 list-group" style="width: 20%;">
                        <a href="#" class="list_fav list-group-item list-group-item-action active">Recently Searched</a>
                        {% for airport in recent_apts %}
                            <a href="{{ url_for('main.search', code=airport) }}"
                               class="list-group-item list-group-item-action">{{ airport }}</a>
                        {% endfor %}
                    </div>

                    <div class="col-2 list-group" style="width: 20%; ">
                        <a href="#" class="list_fav list-group-item list-group-item-action active">Favorite Airports</a>
                        {% for airport in favorite_apts %}
                            <a href="{{ url_for('airport.airport', code=airport) }}"
                               class="list-group-item list-group-item-action">{{ airport|airport_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="center-block list-group" style="width: 20%; ">
                    <a href="#" class="list_fav list-group-item list-group-item-action active">Favorite Airports</a>
                    {% for airport in favorite_apts %}
                        <a href="{{ url_for('airport.airport', code=airport) }}"
                           class="list-group-item list-group-item-action">{{ airport|airport_name }}</a>
                    {% endfor %}
                </div>
            {% endif %}

        {% else %}
            {% if recent_apts is not none %}
                <div class="center-block list-group" style="width: 20%;">
                    <a href="#" class="list_fav list-group-item list-group-item-action active">Recently Searched</a>
                    {% for airport in recent_apts %}
                        <a href="{{ url_for('main.search', code=airport) }}"
                           class="list-group-item list-group-item-action">{{ airport }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}