{% extends "layout.html" %}

{% block app_content %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='register_template.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='favorite_button.css') }}">
    </head>

    <div style="text-align:center">
        <img src="{{ url_for('static', filename='change_pass_icon.PNG') }}" alt="logo">
        <br>
        <br>
        <br>
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email(size=64, class="changemail") }}
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button type=submit class="button"><span>Change</span></button>
            </form>
        </div>
    </div>

{% endblock %}