{% extends "layout.html" %}

{% block app_content %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='register_template.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='favorite_button.css') }}">
    </head>

    <div style="text-align:center">
        <img src="{{ url_for('static', filename='change_pass_icon.PNG') }}" alt="logo">
        <br>
        <br>
        <br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password(size=64, class="pass") }}
            </p>
            {% if form.password.errors|length > 0 %}
                <p>
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            {% else %}
                <br>
            {% endif %}
            <p>
                {{ form.confirm_password(size=64, class="confpass") }}
            </p>
            {% if form.confirm_password.errors|length > 0 %}
                <p>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            {% else %}
                <br>
            {% endif %}

            <a>
                <button type=submit class="button"><span>Change</span></button>
            </a>
        </form>
    </div>

{% endblock %}