<h1>Reset password</h1>
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}
            {{ form.password(size=64) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=64) }}
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
</div>